<div class="text-center ">
<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <h5><%= f.label :ユーザーネーム %></h5>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "mb-4" %>
  </div>

  <div class="field">
    <h5><%= f.label :email %></h5>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-4"%>
  </div>

  <div class="field">
    <h5><%= f.label :password, class: "mb-0" %></h5>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "mb-4" %>
  </div>

  <div class="field">
    <h5><%= f.label :password確認 %> </h5>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-4" %>
  </div>

  <div class="field">
    <h5><%= f.label :アイコン %> </h5>
    <%= f.file_field :user_icon, id: 'upload-icon input-file' %>
    <p>(登録しない場合デフォルトアイコンになります。※後で変更可能)</p>
  </div>
  <div id="preview"></div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>


<div class="text-center" style="padding:50px 0">
	<div class="logo">Sign in</div>
	<!-- Main Form -->
	<div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
					  <div class="field">
              <%= f.text_field :username, autofocus: true, autocomplete: "username",class:"p-0 form-control",placeholder:"username" %>

						</div>
					</div>
					<div class="form-group">
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"mt-4 p-0 form-control",placeholder:"関学メールアドレス"%>
            </div>      
					</div>
					<div class="form-group">
            <div class="field">
              <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password",class:"mt-3 p-0 form-control",placeholder:"password" %>
            </div>
					</div>
					<div class="form-group">
            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"mt-4 p-0 form-control",placeholder:"confirm password" %>
            </div>
					</div>
					<div class="form-group">
            <div class="field">
              <h5 class="mt-4"><%= f.label :アイコン %> </h5>
              <%= f.file_field :user_icon, id: 'upload-icon input-file'%>
              <p>(登録しない場合デフォルトアイコンになります。※後で変更可能)</p>
            </div>
            <div id="preview"></div>
					</div>
				</div>
				<div class="actions ">
		  		<%= button_tag '<i class="p-set fa fa-chevron-right indicate"></i>'.html_safe,:type => "submit" ,class:"actionsbtn login-button" %>
        </div>
			</div>
			<div class="etc-login-form">
    <%= render "devise/shared/links" %>
			</div>
		</form>
		<% end %>
	</div>
	<!-- end:Main Form -->
</div>

