



<div class="chat_window">
<div class="top_menu">
<div class="buttons">
<div class="button close">
</div>
<div class="button minimize">
</div>
<div class="button maximize">
</div>
</div>
<div class="title">Kwansei-Chat</div>
</div>
<%
=begin%>
 <ul class="messages" id="message"> 
<%
=end%>
 <%
=begin%>
 <%= render @messages %>  
<%
=end%>
</ul>
<div class="bottom_wrapper clearfix">
<div class="message_input_wrapper">
<input class="message_input" placeholder="ここに入力してね..."  id="chatInput" data_user="<%= current_user.id%>" room_id="<%= @room.id%>"/>



<%= form_with(model: @newmessage, local: true) do |f| %>
  <div class="field">
    <label>コメント</label>
    <p class="messages" id="message"><%= f.text_field :content, class: "form-control" %></p>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %> 
  </div>
  <div class="field">
    <%= f.submit "save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="send_message" id="button">
<div class="icon">
</div>
<div class="text">送信</div>
</div>
</div>
</div>
<div class="message_template">
<li class="message">
<div class="avatar">
</div>
<div class="text_wrapper">
<div class="text" >
</div>
</div>
</li>
</div> 



 

 

 

