    <%= form_with(model: @sampleuser, local: true) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :id, :value => @sampleuser.id %>
      </div>

      <div class="form-group">
        <label>ユーザーネーム</label>
        <h3><%= @sampleuser.username %></h3>
        <%= f.hidden_field :username, :value => @sampleuser.username %>
      </div>

      
      <label>報告理由今は保留</label>
      <div class="form-group">
        <%= f.text_area :reason, autofocus: true , class: "mb-4" %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :expulsion, :value => @count, class: "mb-4"  %>
        <%= @count %>
      </div>

      <div class="text-center">
        <%= f.submit "save", class: "btn btn-primary" %>
      </div>
    <% end %>  


