<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<!-- Main Form -->
	<div class="login-form-1">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
					  <div class="field">
							<p ><%= f.text_field :login, autofocus: true, autocomplete: "email",class:"p-0 form-control",placeholder:"username" %></p>
						</div>
					</div>
					<div class="form-group">
						<div class="field">
							<p><%= f.password_field :password, autocomplete: "current-password",class:"p-0 mt-3 form-control",placeholder:"password"  %></p>
						</div>
					</div>
					<div class="form-group login-group-checkbox">
            <% if devise_mapping.rememberable? %>
							<div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
							</div>
            <% end %>
					</div>
				</div>
				<div class="actions ">
		  		<%= button_tag '<i class="p-set fa fa-chevron-right indicate"></i>'.html_safe,:type => "submit" ,class:"actionsbtn login-button" %>
        </div>
			</div>
			<div class="etc-login-form">
<%= render "devise/shared/links" %>
			</div>
		</form>
		<% end %>
	</div>
	<!-- end:Main Form -->
</div>
