<div>
  <div class="text-center p-100">

    <div>
      <%= image_tag @user.user_icon.to_s, class:"icon_image" %>
    </div>



    <div>
      <br><h3 class=""><%= "username:  #{@user.username}" %></h3>
      <br><h3 class=""><%= "username:  #{@user.email}" %></h3>
    </div>
    <% if user_signed_in? && @user.id == current_user.id %>
      <br><%= link_to "プロフィール情報を変更する",  edit_user_registration_path(current_user), class: "btn btn-outline-danger" %>
    <% end %>

    <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "退会", user_registration_path(current_user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>
  